  .filter-category {
    margin-bottom: 15px;
    h3 {
      margin-bottom: 10px;
      font-size: 13px;
      color: gray;
    }
  }
  
  
  .filter-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .filter-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 2.5px;
    cursor: pointer;
  }
  
  .filter-item.active {
    background-color: var(--site-color);
    color: white;
    border-color: var(--site-color);
  }
  
  .buttons {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 490px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
  
  .reset-button, .apply-button {
    background-color: var(--site-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 13px 0;
    cursor: pointer;
    margin: 5px;
    width: 45%;
  }

  .reset-button{
    background-color: white;
    border: 1px solid var(--site-color);
    color: var(--site-color);
  }

  @media (max-width: 500px){
    .buttons{
        width: 100%;
        padding: 10px 20px;
    }
  }