.card{
    position: relative;
    width: 270px;
    border: var(--border);
    border-radius: 10px;
    .card-img{
        width: 100%;
        overflow: hidden;
        img{
            height: 270px;
            width: 270px;
            object-fit: cover;
        }
    }
    .card-body{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        .card-content{
            p{
                margin-top: 10px;
            }
        }
        .card-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            b{
                color: var(--site-color);
            }
        }
    }
}
@media (max-width: 1050px) {
    .card{
        width: 45%;
        .card-img{
            img{
                width: 100%;
            }
        }
    }
    .none{
        display: none;
    }
    .media{
        display: block;
    }
}
@media (max-width: 980px) {
    .none{
        display: none;
    }
    .media{
        display: block;
    }
}
@media (max-width: 660px) {
    .card{
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        overflow: hidden;
        .card-img{
            width: 180px !important;
            img{
                width: 120px;
                height: 120px;
                object-fit: contain;
            }
        }
        .card-body{
            width: 100%;
            .card-content{
                width: 100%;
                b{
                    text-wrap: wrap;
                }
                .commit{
                    
                }
                p{
                    height: 35px;
                    overflow: hidden;
                    
                }
            }
        }
    }
}
@media (max-width: 350px) {
    .card{
        flex-direction: column;
        width: 100%;
        height: 100%;
        .card-img{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
        }
        .card-body{
            width: 100%;
            gap: 5px;
            .card-content{
                width: 100%;
                b{
                    text-wrap: nowrap;
                }
                p{
                    height: 35px;
                    overflow: hidden;
                }
            }
            .card-footer{
                gap: 5px;
                b{
                    text-wrap: nowrap;
                }
            }
        }
    }
}
