.toast-container {
    position: fixed;
    top: 1rem;
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

.toast {
    position: relative;
    padding: 12px;
    margin: 10px 0;
    border-radius: 4px;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;

    span{
      display: flex;
      align-items: center;
      gap: 10px;
    }

    button {
      margin-left: 10px;
      background: transparent;
      border: none;
      font-size: 12px;
      cursor: pointer;
    }

    &.info {
      background-color: white;
      border: 1px solid blue;
      color: blue;
      button{
        color: blue;
      }
    }
  
    &.loading {
      background-color: white;
      border: 1px solid black;
      color: black;
      animation: loading 1.5s infinite;
      button{
        color: black;
      }
    }


    &.success {
      background-color: white;
      border: 1px solid green;
      color: green;
      button{
        color: green;
      }
    }
  
    &.warning {
      background-color: white;
      border: 1px solid gold;
      color: gold;
      button{
        color: gold;
      }
    }
  
    &.error {
      background-color: white;
      border: 1px solid red;
      color: red;
      button{
        color: red;
      }
    }
  }
  @keyframes loading {
    from {
      transform: translateZ(0);
    }
    100% {
      transform: translateZ(180deg);
    }
  }
  